@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: white;
}

/* Remove arrows/spinners from number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}